# SNSPD_analysis gitignore file
*.DS_Store
*.png
*__pycache__

# SNSPD_Basic_measurements
SNSPD_Basic_measurements/data
SNSPD_Basic_measurements/plots

# SNSPD_Laser_measurements/
SNSPD_Laser_measurements/data
SNSPD_Laser_measurements/plots
SNSPD_Laser_measurements/output_root
SNSPD_Laser_measurements/python/test.py

# SQUID
SQUID/data
SQUID/plots

# Ellipsometry
Ellipsometry/data
Ellipsometry/plots

# NoiseStudy
NoiseStudy/data
NoiseStudy/plots

# simulation
simulation/plots
simulation/Polarization
SNSPD_Laser_measurements/python/old/Stats/
SNSPD_Laser_measurements/python/old/plots/

# Design folder - ignore all except .ipynb files
Design/*
!Design/*.ipynb
!Design/Design_config/
Design/Design_config/*
!Design/Design_config/*.txt
